h1 {
	font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    color: #333;
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}

li {
	
	margin-bottom: 3rem;
	font-weight: 300;
	color: #5F6F81;	

}

span {
	font-weight: 700;
	font-size: 28px;
	margin-top: 40px;
  	font-family: 'Ubuntu', sans-serif;
  	 	
  	color: #fff;
  	text-align: center;
  	letter-spacing: 5px;
  	text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
}


p {
	font-size: 20px;
}